<div class="container">
  <div class="title">
    <h1>Dash Boads</h1>
  </div>
  <div>
    <h2><%= current_user.name %></h2><br>
    <%= link_to "編集", "#", class: "btn btn-lg btn-primary" %><br>
    <%= link_to "ログアウト", "#", class: "btn btn-lg btn-warning" %>
  </div>
</div>
